# https://sandboxdnac.cisco.com
## Assurance Sensor Test Results
### ONBOARDING
#### WEBAUTH
##### Pass Count: 0
##### Fail Count: 0
#### AUTH
##### Pass Count: 0
##### Fail Count: 0
#### DHCP
##### Pass Count: 0
##### Fail Count: 0
#### ASSOC
##### Pass Count: 0
##### Fail Count: 0
### PERFORMANCE
#### SPEED
##### Pass Count: 0
##### Fail Count: 0
#### IPERF
##### Pass Count: 0
##### Fail Count: 0
#### IPSLASENDER
##### Pass Count: 0
##### Fail Count: 0
### NETWORK_SERVICES
#### RADIUS
##### Pass Count: 0
##### Fail Count: 0
#### DNS
##### Pass Count: 0
##### Fail Count: 0
### APP_CONNECTIVITY
#### HOST_REACHABILITY
##### Pass Count: 0
##### Fail Count: 0
#### WEBSERVER
##### Pass Count: 0
##### Fail Count: 0
#### FILETRANSFER
##### Pass Count: 0
##### Fail Count: 0
### RF_ASSESSMENT
#### DATA_RATE
##### Pass Count: 0
##### Fail Count: 0
#### SNR
##### Pass Count: 0
##### Fail Count: 0
### EMAIL
#### MAILSERVER
##### Pass Count: 0
##### Fail Count: 0
#### OUTLOOKSERVER
##### Pass Count: 0
##### Fail Count: 0